body {
	background-color: #ffdf9a;
	font-family: Verdana,Arial,sans-serif;
	font-size: 10pt;
}

#listener {
	text-align: center;
}

#nacl_module {
	background: url('../images/login_wallpaper.png') no-repeat center #fff;
	position: absolute;
	left: 0px;
	top: 0px;
}

#progress_nexe {
	width: 500px;
	position: absolute;
}

#progress_nexe_label {
	position: absolute;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

div.ui-progressbar-value {
	background: #ffa060;
}
